#root {
  margin: 0;
  min-height: 100vh;
  width: 100%;
  background-color: var(--lightbeige);
  border: 50px solid transparent;
  border-image: url('picture-frame.png') 14% stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --lightmint: #d5ffe0;
  --mediummint: #96c1a1;
  --darkmint: #516958;
  --lightrose: #f7aeae;
  --mediumrose: #b57474;
  --darkrose: #8f5d5d;
  --lightbeige: #f7f2d7;
  --mediumbeige: #dcd7ba;
  --darkbeige: #a4a08b;
  --cherry: #940522;
  --lightcherry: #d63f5d;
  --darkbrown: rgb(90, 56, 38);
}

* {
  box-sizing: border-box;
}

html {
  background-color: black;
}

.kitchen {
  width: 100%;
  background-image: url('kitchen-wallpaper.png');
  background-size: 256px 256px;
  background-repeat: repeat;
  border: 5px inset var(--mediumbeige);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 30px;
  gap: 40px;
}

#logout-button {
  position: absolute;
  left: 5%;
  top: 5%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  color: var(--darkmint);
  background-color: var(--lightmint);
  border: 2px outset var(--mediummint);
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px var(--darkmint);
}

.poster {
  width: 280px;
  height: 750px;
  background: linear-gradient(-150deg, transparent 1.5em, var(--lightbeige) 0);
  position: relative;
  align-self: center;
}

.poster::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 1.75em;
  height: 3em;
  background: linear-gradient(
    to left bottom,
    transparent 50%,
    var(--mediumbeige) 50%,
    var(--lightbeige) 70%,
    var(--mediumbeige) 90%,
    var(--darkbeige)
  );
  transform: translate(0, -21px) rotate(-30deg);
  transform-origin: bottom right;
  box-shadow: 0 5px 5px -5px var(--darkbeige);
}

.pin {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: radial-gradient(var(--lightcherry), var(--cherry));
  position: absolute;
  box-shadow: 1px 1px 1px 1px var(--darkbeige);
}

.top-left {
  top: 8px;
  left: 8px;
}

.bottom-left {
  bottom: 8px;
  left: 8px;
}

.bottom-right {
  bottom: 8px;
  right: 8px;
}

.text-container {
  width: 95%;
  height: 95%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.poster-title {
  color: black;
  text-decoration: underline;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-indent: 0.15rem;
}

.house-vibes-paragraph {
  font-weight: bold;
  margin-left: 12px;
  margin-right: 12px;
  font-size: 18px;
}

.fridge-container {
  width: 400px;
  min-height: 800px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
  box-shadow: 0 0 10px 8px var(--lightmint);
  align-self: normal;
}

.fridge-top,
.fridge-door {
  width: 100%;
  background-image: linear-gradient(
    to left,
    var(--darkmint) 1%,
    var(--lightmint) 5%,
    var(--darkmint) 8%,
    var(--lightmint) 13%,
    var(--mediummint) 18%,
    var(--mediummint) 80%,
    var(--lightmint) 90%,
    var(--darkmint) 99%
  );
}

.fridge-top {
  height: 280px;
  position: relative;
}

.border-top,
.border-bottom {
  width: 100%;
  height: 5px;
  background-image: linear-gradient(black, white, black);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.border-top {
  top: 0;
}

.border-bottom {
  bottom: 0;
}

.fridge-title {
  background-image: linear-gradient(gray, rgb(225, 225, 225) 40%, black);
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: 0.5em;
  color: transparent;
  background-clip: text;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  padding: 0;
  text-indent: 0.5em;
  margin: 0;
}

.door-handle {
  width: 27%;
  height: 12px;
  background-image: linear-gradient(black, white 25%, white 40%, black 60%, gray, black, gray);
  position: absolute;
  left: 8%;
  border-radius: 2px 5px 5px 2px;
  border: 1px solid black;
}

.top {
  bottom: 12%;
}

.bottom {
  top: 6%;
}

.button-container {
  width: 50%;
  height: 45%;
  position: absolute;
  right: 15%;
  bottom: 12%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.button-container > button {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  color: var(--darkmint);
  background-color: var(--lightbeige);
  border: 2px outset var(--mediumbeige);
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px var(--darkmint);
}

.button-container > button:active {
  background-color: var(--mediumbeige);
  border: 2px inset var(--darkbeige);
}

.fridge-bottom,
.fridge-door {
  width: 100%;
  /* height: 65%; */
  position: relative;
}

.thermometer-container {
  width: 15%;
  padding: 0;
  height: 56.1%;
  position: absolute;
  top: 6%;
  right: 15%;
}

.thermometer-top {
  width: 100%;
  height: 9%;
  background-color: var(--mediummint);
  border-radius: 50% 50% 0 0;
  box-shadow: 0 0 0 1px var(--darkmint);
}

.thermometer-bottom {
  width: 100%;
  height: 91%;
  box-shadow: 0 0 0 1px var(--darkmint);
}

.thermometer {
  position: absolute;
  top: 0;
}

.mercury {
  width: 5%;
  height: 50%;
  background-color: var(--cherry);
  position: absolute;
  left: 50%;
  bottom: 20%;
  transform: translateX(-15%) rotate(0.25deg);
}

.emoji-container {
  width: 34px;
  height: 34px;
  border-radius: 100%;
  background-color: var(--cherry);
  text-align: center;
  line-height: 38px;
  font-size: 24px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-48%);
}

.calendar-container {
  width: 250px;
  height: auto;
  background-color: var(--lightrose);
  border-image: url('calendar-border.png') 35% stretch;
  border-image-width: 40px;
  position: relative;
  box-shadow: 0 0 0 5px var(--cherry);
  top: 15px;
}

.string-left,
.string-right {
  width: 57.7%;
  height: 2px;
  background-image: repeating-linear-gradient(
    30deg,
    var(--mediumbeige) 0,
    var(--lightbeige) 2%,
    var(--mediumbeige) 4%
  );
  position: absolute;
}

.string-left {
  transform: rotate(-30deg);
  transform-origin: top left;
  border-radius: 0 0 0 50%;
}

.string-right {
  right: 0;
  transform: rotate(30deg);
  transform-origin: bottom right;
  border-radius: 0 0 50% 0;
}

.calendar-pin {
  left: 50%;
  top: -9%;
  transform: translateX(-50%);
}

.calendar {
  width: 90%;
  height: 94%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.date-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.date-display {
  background-color: var(--lightbeige);
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--darkbrown);
  padding: 3px;
  border: 2px inset var(--mediumbeige);
  margin: 2px;
}

.image-container {
  width: 75%;
  padding-top: 72%;
  background-image: url('/calendar_photos/june.png');
  background-size: contain;
  border: 3px solid var(--cherry);
}

.information {
  width: 96%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  user-select: none;
  text-decoration: overline underline;
}

.task-container,
textarea {
  width: 100%;
  background-color: var(--lightbeige);
  border-radius: 6px;
  border: 3px double var(--darkbeige);
  margin-top: -5px;
  color: var(--darkbrown);
  box-shadow: 0 0 0 1px var(--darkbrown);
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 16px;
}

.task-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.task {
  font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.task:not(:last-child) {
  border-bottom: 1px solid var(--darkbeige);
}

.task-name {
  margin-left: 3px;
}

input[type='checkbox'] {
  width: 12px;
  height: 12px;
  appearance: none;
  background-color: var(--lightbeige);
  border: 2px outset var(--mediumbeige);
  border-radius: 2px;
}

input[type='checkbox']:checked {
  background-color: var(--lightcherry);
  border: 2px inset var(--cherry);
}

.review-form {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

textarea {
  width: 100%;
  resize: none;
}

#submit-review {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  color: var(--cherry);
  background-color: var(--lightbeige);
  border: 2px outset var(--mediumbeige);
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px var(--cherry);
  margin-top: 8px;
}

#submit-review:active {
  background-color: var(--mediumbeige);
  border: 2px inset var(--darkbeige);
}
