@font-face {
  font-family: 'EurostileExtendedBlack';
  src: url('./assets/fonts/EurostileExtendedBlack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'EurostileExtendedBlack', 'Jost', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
